%icon {
	aspect-ratio: 1;
	height: 60px;
	margin: 0 1rem;
}
.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	&__headline {
		text-align: center;
	}
	& .icon {
		@extend %icon;
	}
	.arrow {
		@extend %icon;
		height: 20px;
	}
}
