@use './section-header';
section {
	border: 2px solid black;
	border-radius: 10px;
	max-width: 80rem;
	padding: 2rem;
	margin: 0 auto 3rem auto;
}

.section-content {
	border-top: 2px solid black;
	margin: 0 auto;
	padding: 2rem;
	font-size: 2.4rem;
	text-align: center;
}
